---
import { Image } from "astro:assets";
import headerColor from "../assets/header-color.png";
import headerGI from "../assets/header-gi.png";
import headerModel from "../assets/header-model.png";
import Layout from "../layouts/Layout.astro";
import fall2023 from "../fa2023.json";
import fall2024 from "../fa2024.json";
import Semester from "../components/Semester.astro";

type Homework = {
  number: number;
  sample4: { title: string; link: string }[];
  sample3: { title: string; link: string }[];
};

---

<Layout>
  <div class="absolute left-0 top-0 w-full overflow-hidden bg-[#fff5ea]">
    <div class="flex h-96 w-full items-start justify-around px-4 pt-4 opacity-20">
    <Image
      src={headerGI}
      alt="GI"
      style={{
        width: "min(50%, 300px)",
      }}
    />
    <Image
    src={headerModel}
    alt="Model"
    style={{
        width: "min(60%, 360px)",
        marginTop: "8rem",
        marginLeft: "-8rem",
      }}
    />
    <Image
      src={headerColor}
      alt="Color"
      style={{
        width: "min(40%, 260px)",
        marginTop: "1rem",
        marginLeft: "-4rem",
      }}
    />
    </div>
    <div class="h-6 w-full rounded-t-full bg-[#ffefd8] shadow-inner"></div>
  </div>
  <div class="container relative z-10 m-auto min-h-[calc(100vh-96px)] px-2 py-8">
    <div class="flex h-96 w-full flex-col items-center justify-center">
    <h1 class="pb-16 text-center text-7xl font-bold">CS559 Featured Artists</h1>
  </div>
  
  <p class="text-center italic">Comp Sci 559 Computer Graphics course @ UW Madison</p>
  <p class="text-center">
    This page links to some interesting submissions that
    received a score of either <span class="rounded-md border border-black px-1"
    >4/4</span
    > or <span class="rounded-md border border-black px-1">3/4</span> in the
    homework assignments.</p>
    <Semester homeworks={fall2024} header="Fall 2024" />
    <Semester homeworks={fall2023} header="Fall 2023" />
  </div>
	<div class="bg-[#fff5ea]">
    <div class="h-6 w-full rounded-b-full bg-[#ffefd8]"></div>
    <div class="h-24 p-1 text-center md:p-4">
      <ul class="flex flex-row justify-center">
          <li class="text-teal-700 underline"><a href="https://pages.cs.wisc.edu/~sifakis/">About the Instructor</a></li>
      </ul>
      <p class="mt-4 text-center text-sm">©2024 CS559 Course Staff</p>
    </div>
	</div>
</Layout>
